body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.message-container{
  height: 500px;
  overflow-y: scroll;
}

.private-message-container{
  height: 300px;
  overflow-y: scroll;
}

.inline {
  display: inline-block;
}

.your-message{
  background-color: lightcyan;
}

.other-message{
  background-color: lightyellow;
}

#send-private-message-form button {
  font-size: 14px;
}